site_name: PPS - Prueba de Aplicaciones
site_description: Documentación Tarea RA1 - Análisis y Testing de Aplicaciones
site_author: Izan CD
site_url: https://vjp-izancd.github.io/PPS-Unidad1-TareaRA1-IzanCD/

repo_url: https://github.com/vjp-izanCD/PPS-Unidad1-TareaRA1-IzanCD
repo_name: GitHub
edit_uri: edit/main/docs/

theme:
  name: material
  language: es
  
  palette:
    - scheme: slate
      primary: indigo
      accent: teal
      toggle:
        icon: material/weather-night
        name: Modo claro
    - scheme: default  
      primary: indigo
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Modo oscuro
  
  font:
    text: Inter
    code: JetBrains Mono
  
  icon:
    logo: material/security
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  
  favicon: material/shield-check
  
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

plugins:
  - search:
      lang: es

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: vjp-izanCD
      repo: PPS-Unidad1-TareaRA1-IzanCD
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vjp-izanCD
      name: GitHub
  generator: false
  

nav:
  - Inicio:
    - index.md
  - Análisis de Código:
    - apartado1-analisis-codigo.md
  - Ejecución y Depuración:
    - apartado2-ejecucion-depuracion.md
  - Tests Unitarios:
    - apartado3-tests.md
  - Entorno Controlado:
    - apartado4-sandbox.md
  - Reflexión de Seguridad:
    - apartado5-reflexion-seguridad.md

